body{
    background:#3478afa1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:0px;
    margin-bottom:50px;
    margin-left: 0px;
    margin-right: 0px;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    border-top: solid 20px rgb(11, 24, 48);
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    margin:0px;
    padding: 30px 0px 50px 0px;
    background:url(background.jpg);
    color: wheat;
}
h3{
    text-decoration: underline;
    color: #050508f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border: 20px;
}    
p{
    font: 1em sans-serif;
    background: #a7c5dda1;
    padding: 20px;
    margin-top:0px;
    margin-bottom: 0px;
}

a:hover{
    color: #3478afa1;
}

.corestyle{
    margin-left:20%;
    margin-right:20%;

}
.titleimg{
    border: 20px solid transparent;
    border-radius: 40px;
    width:100px;
    height:100px;
}
.imagewithtext{
    border-bottom: 10px solid transparent;
    display:flex;
}
.sites{
    border-right:10px solid transparent;
    height:340px;
    width: 490px;

}
